version: '3'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  webserver:
    image: apache/airflow:2.9.1
    restart: always
    depends_on:
      - postgres
    environment:
      - LOAD_EXAMPLES=False
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./extract_data:/opt/airflow/extract_data
      - ./transform_data:/opt/airflow/transform_data
      - ./load_data:/opt/airflow/load_data
      - ./config:/opt/airflow/config
    ports:
      - "8080:8080"
    command: webserver
  scheduler:
    image: apache/airflow:2.9.1
    depends_on:
      - webserver
    command: scheduler
